<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <!--ion-title *ngIf="cercle_friend">{{ cercle_friend.name }}</ion-title-->
    <ion-title>Nouveau cercle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--ion-list>
    <ion-list-header>
      Nom du cercle
    </ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="cercle_friend.name"></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list-->
  <!--ion-list>
    <ion-list-header>
      Contacts
    </ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-input type="text" required  placeholder="name" [(ngModel)]="contact.name"></ion-input>
        <ion-input type="email" required  placeholder="email" [(ngModel)]="contact.email"></ion-input>
        <button item-right ion-button small icon-only (click)="addContact()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list no-lines inset>
    <ion-item small color="balanced" *ngFor="let friend of cercle_friend.friends; let i = index">
        <button ion-button block outline large (click)="editContact(friend, i)">
          {{ friend.name }} ({{ friend.email }})
        </button>
        <button ion-button small icon-only item-end (click)="removeContact(i)">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-item>
  </ion-list>

  <button ion-button full id="run" (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Valider
  </button-->
  <ion-list *ngIf="errorMsg">
    <ion-item>
      <p style="color: red;">{{ errorMsg }}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label floating>Nom du cercle</ion-label>
      <ion-input type="text" [(ngModel)]="circleName"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let selectedUser of usersSelected; let i = index" (click)="unselectUser(i)">
        {{selectedUser.displayName}}
        <button ion-button icon-only float-right clear small color="danger">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item *ngFor="let user of users; let u = index" (click)="selectUser(user)">
      <div *ngIf="u < 5">
        {{user.displayName}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button full color="secondary" (click)="save()"> Save </button>
  </ion-toolbar>
</ion-footer>
