<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="cercle_friend">{{ cercle_friend.name }}</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Nom du cercle
    </ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="cercle_friend.name"></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Contacts
    </ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-input type="text" required  placeholder="name" [(ngModel)]="contact.name"></ion-input>
        <ion-input type="email" required  placeholder="email" [(ngModel)]="contact.email"></ion-input>
        <button item-right ion-button small icon-only (click)="addContact()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list no-lines inset>
    <ion-item small color="balanced" *ngFor="let friend of cercle_friend.friends; let i = index">
        <button ion-button block outline large (click)="editContact(friend, i)">
          {{ friend.name }} ({{ friend.email }})
        </button>
        <button ion-button small icon-only item-end (click)="removeContact(i)">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-item>
  </ion-list>
 
  <button ion-button full id="run" (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Valider
  </button>
</ion-content>