<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="editMode">Edit an event</ion-title>
    <ion-title *ngIf="!editMode">Create an event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="event.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input type="text" [(ngModel)]="event.location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea rows="5" [(ngModel)]="event.description"></ion-textarea>
    </ion-item>

    <!--ion-item>
      <ion-label>All Day?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item-->
  </ion-list>

  <button ion-button full icon-left (click)="save()" color="secondary">
    Save
  </button>
</ion-content>
