page-cercle {
  #Run {
    position: fixed !important;
    bottom: 0px !important;
    margin: 0 !important;
    width: 100% !important;
    left: 0px !important;
    border-radius: 0 !important;
    height: 12% !important;
    font-size: 1.5em !important;
    z-index: 50;
  }
}
